* {
    font-family: "Arial", "Verdana", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: aqua;
    min-width: 220px;
}

h2 {
    background-color: rgb(127, 255, 238);
}


.food {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.hfood {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#top {
    padding-top: 16px;
}

ul, ol {
    background-color: bisque;
}

#linklist {
    background-color: bisque;
    padding-bottom: 16px;
    min-width: 220px;
}

.fbutton {
    display: block;
    margin: 16px auto;
    background-color: rgb(196, 243, 255);
    border-color: aliceblue;
}

.flink {
    text-align: center;
    display: block;
    margin: -10px 0px
}